@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

/* Nav Bar Start*/
header{
    width: 80%;
    margin: 0 auto;
    margin-top: 87px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul{
    display: flex;

}

.nav-menu li{
    list-style: none;
    margin-right: 20px;
}
.nav-menu li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
/* Navbar End */

.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}
/* Bannar PArt */
.bannar{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    align-items: center;
    justify-items: end;
    margin-bottom: 10em;
}
.banner-header{
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
}
.btn{
    background: #E02C6D;
    border-radius: 41px;
    color: white;
    border: none;
    padding: 10px 24px;
    margin-top: 16px;
}
.fa-arrow-right{
    margin-left: 5px;
}
.half img{
    margin-left: 50px;
}

/* Bannar Part End */

/* Logo PArt */
.logos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 2em;
}
.logo{
    margin: 20px 0;
}
/* Logo end */


/* Popular Start */
.popular{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: #3A3A3A;
    margin-top: 100px;
    margin-bottom: 0;
}
.product-image{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-row: auto;
    margin-top: 2em;
}

hr{
    border-radius: 50%;
}

.box{
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 17px 15px;
    margin: 0 30px 30px 0;
    
}

.box img{
    width: 300px;
    height: 256px;
}
.des-title{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    margin: 16px 0;
}
.price{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    margin: 6px 0;
    color: rgba(0, 0, 0, 0.87);
}

.shift,.stock,.protection{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #787885;
    line-height: 143%;
    letter-spacing: 0.018em;
    margin: 0 0;
}
.stars{
    display: flex;
    align-items: center;
}
.rating{
    margin: 6px 0;
    padding-left: 10px;
}
.fa-star{
    color:orange
}
.btn2 {
    padding: 10px 0;
    color: #E02C6D;
    display: flex;
    justify-content: flex-end;
  }
  .button2{
      color: #E02C6D;
      border: none;
      font-weight: bold;
      background-color: #FFFFFF;
  }
/* Popular Part End */

.feature{
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
}

.feature-img img{
    width: 80%;
}
.feature-title{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 60px;
}

button{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
}




/* Footer */
.footer{
    padding-top: 40px;
    height: 239px;
    background: #0A0826;
    color: #FFFFFF;
    text-align: center;
}
.footer-header{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.footer-icons span{
    padding-right: 10px;

}
/* End Footer */


/* -----------------------
Mobile Responsive
--------------------------*/

@media (max-width: 480px) {

    header{
        width: 100%;
    }

    .container{
        width: 100%;
    }

    .bannar{
        grid-template-columns: .5fr;
        flex-wrap: wrap;

    }

    .logos{
        justify-content: space-evenly;

    }

    .product-image{
        grid-template-columns: 1fr;
    }
    hr{
        display: none;
    }
    
}

